@model Inspira.Blog.WebMvc3.Models.Identity.ForgetPassword

@{
    Layout = "../Shared/_BasicLayout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@View.Title</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
	<link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/calendar/assets/skins/sam/calendar.css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/yuiapp.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui.css")" type="text/css" />
	<link id="theme" rel="stylesheet" href="@Url.Content("~/assets/css/structure.css")" type="text/css" />

</head>
<body class="rounded">
		<!-- page body -->
            <div id="yui-main">
            	<!-- main wrapper -->
                <div class="yui-b">
	                <div class="yui-g">
						<h2>Register</h2>
						<p>Fill the fields below.</p>
						<!-- form -->
						<div class="block">
							<div class="hd">
								<h2>Form data</h2>
							</div>
							<div class="bd">
								<h3>Forget My Password</h3>
									@using (Html.BeginForm()) {
										<div>
											<fieldset>
											<legend>Account Information</legend>

									            <div class="editor-label">
													@Html.LabelFor(m => m.UserNameOrEmail)
												</div>
												<div class="editor-field">
													@Html.TextBoxFor(m => m.UserNameOrEmail, new { @class="text" })
													@Html.ValidationMessageFor(m => m.UserNameOrEmail)
												</div>

												<p>
												<input type="submit" value="Send Validation Key" />
												</p>
											</fieldset>
										</div>
									}
							</div>	                        
						</div>
						<!-- /form -->
					</div>              	
                </div>
                <!-- /main wrapper -->

		<!-- /page body -->		
    </div>
</body>
</html>

